[Unit]
Description=Run Bermuda
After=network.target

[Service]
Type=simple
User=podman
WorkingDirectory=/home/podman/Project-Bermuda/flask
ExecStart=/home/podman/Project-Bermuda/flask/venv/bin/gunicorn -w 1 --threads 100 routes:app -b localhost:5000
Restart=on-failure

[Install]
WantedBy=multi-user.target