[Unit]
Description=Run Bermuda SSH Server
After=network.target

[Service]
Type=simple
User=podman
PermissionsStartOnly=true
RuntimeDirectoryMode=755
WorkingDirectory=/home/podman/Project-Bermuda/flask
ExecStart=/home/podman/Project-Bermuda/ssh/bermuda-ssh /home/podman/Project-Bermuda/flask/config/credentials.json /home/podman/Project-Bermuda/flask/config/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target