[Unit]
Description=Run Bermuda
After=network.target

[Service]
Type=simple
User=podman
PermissionsStartOnly=true
RuntimeDirectoryMode=755
WorkingDirectory=/home/podman/Project-Bermuda/flask
ExecStart=/home/podman/Project-Bermuda/flask/venv/bin/python3 /home/podman/Project-Bermuda/flask/routes.py
Restart=on-failure

[Install]
WantedBy=multi-user.target