http://terminal-development.uosec.org {
    redir https://{host}{uri}
}

https://terminal-development.uosec.org {
    reverse_proxy :5000
    tls uosecurityclub@uoregon.edu {
        ca https://acme-v02.api.letsencrypt.org/directory
    }
}